@charset "utf-8";

/* My Fonts */

@font-face {
  font-family: titleFont;
  src: url(../webfonts/Rowdies-Bold.ttf);
}

body {
  font-family: 'Roboto', sans-serif;
}

.main {
  background-color: #ededed;
}

/* Utilities */

.fw-bold {
  font-weight: 800;
}

.fw-bolder {
  font-weight: 900;
}

.lsp-2 {
  letter-spacing: 2px;
}

.lsp-3 {
  letter-spacing: 3px;
}

#cover-spin {
  position:fixed;
  width:100%;
  left:0;right:0;top:0;bottom:0;
  background-color: rgba(255,255,255,0.7);
  z-index:9999;
  display:none;
}

@-webkit-keyframes spin {
from {-webkit-transform:rotate(0deg);}
to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
from {transform:rotate(0deg);}
to {transform:rotate(360deg);}
}

#cover-spin::after {
  content:'';
  display:block;
  position:absolute;
  left:48%;top:40%;
  width:40px;height:40px;
  border-style:solid;
  border-color:#130999;
  border-top-color:transparent;
  border-width: 4px;
  border-radius:50%;
  -webkit-animation: spin .8s linear infinite;
  animation: spin .8s linear infinite;
}

/* Navigation Bar */

.navbar {
  padding: 15px 20px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
  color: #302e2e;
}

.navbar span,
#footer p span {
  font-weight: 600;
  color: #170cb4;
  position: relative;
}

.navbar .navbar-brand {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  display: inline-block;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  margin-right: 1rem;
}

.navbar .navbar-nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

.nav-item:hover {
  border-bottom: 2px solid #130999;
}

.navbar .pc-only .container {
  display: flex;
}

.navbar .nav-item .dropdown-menu {
  background-color: #130999;
}

.navbar .nav-item .dropdown-menu .dropdown-item:hover {
  font-size: inherit;
  border-bottom: 2px solid #130999;
  background-color: #fff;
  color: #130999 !important;
}

/* Sections */

.white-section {
  background-color: #fff;
  color: #000000a8;
}

.color-section {
  background-color: #130999;
  color: #fff;
}

.btn-default {
  color: #fff;
  background-color: #fd7792;
  border-color: #fd7792;
}

.btn-default:hover {
  color: #fff;
  background-color: #fa4b6e;
  border-color: #fa4b6e;
}

/* Footer */
#footer p {
  font-weight: 600;
  color: #2e2e2e;
}

#dk-footer { color: #ccc }

#dk-footer .footer-widget p {
    margin-bottom: 27px;
}

#dk-footer p {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
  color:white;
    line-height: 28px;
}

#dk-footer .animate-border {
  position: relative;
  display: block;
  width: 115px;
  height: 3px;
  background: #007bff; }

#dk-footer .animate-border:after {
  position: absolute;
  content: "";
  width: 35px;
  height: 3px;
  left: 0;
  bottom: 0;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
  -webkit-animation: animborder 2s linear infinite;
  animation: animborder 2s linear infinite; }

@-webkit-keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px); } }

@keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px); } }

#dk-footer .animate-border.border-white:after {
  border-color: #fff; }

#dk-footer .animate-border.border-yellow:after {
  border-color: #F5B02E; }

#dk-footer .animate-border.border-orange:after {
  border-right-color: #007bff;
  border-left-color: #007bff; }

#dk-footer .animate-border.border-ash:after {
  border-right-color: #EEF0EF;
  border-left-color: #EEF0EF; }

 #dk-footer .animate-border.border-offwhite:after {
  border-right-color: #F7F9F8;
  border-left-color: #F7F9F8; }

/* Animated heading border */
@keyframes primary-short {
  0% {
    width: 15%; }
  50% {
    width: 90%; }
  100% {
    width: 10%; } }

@keyframes primary-long {
  0% {
    width: 80%; }
  50% {
    width: 0%; }
  100% {
    width: 80%; } } 

.dk-footer {
  padding: 75px 0 0;
  background-color: #151414;
  position: relative;
  z-index: 2; }
  .dk-footer .contact-us {
    margin-top: 0;
    margin-bottom: 30px;
    padding-left: 80px; }
    .dk-footer .contact-us .contact-info {
      margin-left: 50px; }
    .dk-footer .contact-us.contact-us-last {
      margin-left: -80px; }
  .dk-footer .contact-icon i {
    font-size: 24px;
    top: -15px;
    position: relative;
    color:#007bff; }

.dk-footer-box-info {
  position: relative;
  top: -122px;
  background: #E8F2F5;
  padding: 40px;
  z-index: 2; }
  .dk-footer-box-info .footer-social-link h3 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 25px; }
  .dk-footer-box-info .footer-social-link ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .dk-footer-box-info .footer-social-link li {
    display: inline-block; margin-right: 0.27em; }
  .dk-footer-box-info .footer-social-link a i {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    background: #000;
    margin-right: 5px;
    color: #fff; }
    .dk-footer-box-info .footer-social-link a i.fa-facebook {
      background-color: #3B5998; }
    .dk-footer-box-info .footer-social-link a i.fa-twitter {
      background-color: #55ACEE; }
    .dk-footer-box-info .footer-social-link a i.fa-google-plus {
      background-color: #DD4B39; }
    .dk-footer-box-info .footer-social-link a i.fa-linkedin {
      background-color: #0976B4; }
    .dk-footer-box-info .footer-social-link a i.fa-instagram {
      background-color: #B7242A; }

#dk-footer .footer-awarad {
  margin-top: 285px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
#dk-footer .footer-awarad p {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-left: 20px;
    padding-top: 15px; }

#dk-footer .footer-info-text {
  margin: 26px 0 32px; }

#dk-footer .footer-left-widget {
  padding-left: 80px; }

#dk-footer .footer-widget .section-heading {
  margin-bottom: 35px; }

#dk-footer .footer-widget h3 {
  font-size: 24px;
  color: #fff;
  position: relative;
  margin-bottom: 15px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content; }

#dk-footer .footer-widget ul {
  width: 50%;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0; }

#dk-footer .footer-widget li {
  margin-bottom: 18px; }

#dk-footer .footer-widget p {
  margin-bottom: 27px; }

#dk-footer .footer-widget a {
  color: #ffffff !important;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .footer-widget a:hover {
    color: #007bff; }

#dk-footer .footer-widget:after {
  content: "";
  display: block;
  clear: both; }

.dk-footer-form {
  position: relative; }
  .dk-footer-form input[type=email] {
    padding: 14px 28px;
    border-radius: 50px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E; }
  .dk-footer-form input::-webkit-input-placeholder, .dk-footer-form input::-moz-placeholder, .dk-footer-form input:-ms-input-placeholder, .dk-footer-form input::-ms-input-placeholder, .dk-footer-form input::-webkit-input-placeholder {
    color: #878787;
    font-size: 14px; }
  .dk-footer-form input::-webkit-input-placeholder, .dk-footer-form input::-moz-placeholder, .dk-footer-form input:-ms-input-placeholder, .dk-footer-form input::-ms-input-placeholder, .dk-footer-form input::placeholder {
    color: #878787;
    font-size: 14px; }
  .dk-footer-form button[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 24px 12px 17px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 1px solid #007bff;
    background: #007bff;
    color: #fff; }
  .dk-footer-form button:hover {
    cursor: pointer; }

#dk-footer .contact-us {
  position: relative;
  z-index: 2;
  margin-top: 65px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

  #dk-footer .contact-icon {
  position: absolute; }
  .contact-icon i {
    font-size: 36px;
    top: -5px;
    position: relative;
    color: #007bff; }

    #dk-footer  .contact-info {
  margin-left: 75px;
  color: #fff; }
  .contact-info h3 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 0; }

  #dk-footer .back-to-top {
  position: relative;
  z-index: 2; }
  #dk-footer .back-to-top .btn-dark {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #E8F2F5;
    border-color: #E8F2F5;
    display: none;
    z-index: 999;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
    #dk-footer .back-to-top .btn-dark:hover {
      cursor: pointer;
      background: #20b2aa;
      border-color: #20b2aa; }

/* Media Queries */
@media screen and (min-width: 800px) {
  /* desktop */
  .pc-only {
    display: block;
  }

  .mobile-only {
    display: none;
  }

  .navbar .pc-only {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  /* mobile */
  .pc-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }

  .navbar {
    padding: 0;
  }

  .navbar .mobile-only {
    width: 100%;
  }

  .navbar .mobile-only .navbar-toggler {
    /* margin-right: 20.5rem; */
    position: absolute;
    left: 70%;
    top: 0.7rem;
  }

  .nav-item {
    width: 40%;
  }
}
